/* index.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VERY IMPORTANT: full height for centering */
html,
body,
#root {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
